//Breakpoints
$bp-small: 576px;
$bp-medium: 768px;
$bp-large: 992px;
$bp-xlarge: 1200px;

//Min screen width
$width-min: 320px;
$width-max-content: 1110px;

//Colors
$white: #ffffff;
$blue: #1a65ff;
$light-blue: #47adff;
$green: #038a35;
$green-dark: #367f39;
$grey-light: #666666;
$grey-field-border: #cccccc;
$red: #d72525;

